<div class="comment" data-time="<%= comment.updated_at.to_i %>">
  <div id="content">
    <%= simple_format comment.content %>
  </div>
  <div id="timestamp">
    <%= time_ago_in_words(comment.updated_at) %> ago
  </div>
  <div id="commenter">
    by <%= link_to comment.commenterid, comment.commenter %>
  </div>
  <div class="clear"></div>
</div>
