<% present noticement do |presenter| %>

<li class='<%= noticement.klass %>'>
  <div class="thumb mini image">
    <%= image_tag noticement.creator_image_url(:mini_thumb) %>
  </div>
  <%= presenter.content %>
  <%= presenter.timestamp %>
  <div class="clear"></div>
</li>

<% end %>
