<% present noticement do |presenter| %>

<li class='<%= noticement.klass %>'>
  <div class="left">
    <%= image_tag noticement.creator_image_url(:mini_thumb) %>
  </div>
  <div class="right">
    <%= presenter.content %>
    <%= presenter.timestamp %>
  </div>
  <div class="clear"></div>
</li>

<% end %>
