<%= title @training_type.name %>

<hr>

<%= render 'posts/posts', posts:@training_type.posts, title: :date %>

<%= form_tag posts_path, :method => :get do %>
  <%= submit_tag t('helpers.submit.calendar'), :class => :cancel %>
<% end %>

<div class="clear"></div>
