<% present post do |presenter| %>
  <div class="post">
    <%= presenter.timestamp %>
    <%= presenter.author %>
    <%= presenter.actions(date,month) %>
    <%= presenter.comment %>
  </div>
  <hr>
<% end %>
