<div id="toplists">
  <ul id="seven_days">
  <h4>7 Days</h4>
  <hr>
    <% users.each do |user| %>
      <li><%= "#{user.userid} #{user.total_time(7)}" %></li>
    <% end %>
  </ul>

  <ul id="thirty_days">
  <h4>30 Days</h4>
  <hr>
    <% users.each do |user| %>
      <li><%= "#{user.userid} #{user.total_time(30)}" %></li>
    <% end %>
  </ul>

  <%= link_to pl(:chart), stats_charts_path %>
</div>
