<%= title edit(:post) %>

<%= render 'form', post:@post, date:@date, partners:@training_partners, location:'post' %>

<%= form_tag day_path(@day.date), :method => :get do %>
  <%= submit_tag t('helpers.submit.cancel'), :class => :cancel %>
<% end %>

<div class="clear"></div>
