@import "fancy-buttons"

$blue: #4B7399

a
  text-decoration: none 
  color: $blue
  text-shadow: 1px 1px 1px #aaa
  &:hover
    color: #eee
    text-shadow: 1px 1px 1px $blue 

div.clear
  clear: both
  height: 0
  overflow: hidden

@mixin flash
  float: left
  width: $flash_width
  padding-left: $flash_left_padding_width 
  margin-bottom: 10px 

$flash_border_width: 1px
$flash_left_padding_width: 40px
$flash_width: 600px - $flash_left_padding_width - 2*$flash_border_width
$alert_dark: #933
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

@mixin custom_gradient($light, $dark, $corner: 10px, $border_width:1px)
  color: white
  font-weight: bold
  padding-bottom: 5px
  padding-top: 5px
  border: $border_width solid black
  +border-radius($corner)
  +background-image(linear-gradient(color-stops($light, $dark)))

div#flash_notice
  +flash
  +custom_gradient($notice_light,$notice_dark)

div#flash_alert
  +flash
  +custom_gradient($alert_light,$alert_dark)

div#user_nav
  float: right
  font-size: 12px

div#main_container
  width: 600px
  margin: 100px auto 0 auto
  padding: 20px
  @include box-shadow(rgba(black, 0.9) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset)

h1
  font-size: 30px !important
h2
  font-size: 25px !important
  margin-bottom: 10px !important

hr
  border: 0
  height: 0
  box-shadow: 0 0 2px 1px rgba(black, 0.2)
  &:after
    content: "\00a0"

div#calendar
  h2#month
    margin: 0
    padding-top: 10px
    padding-bottom: 10px
    text-align: center
    font-size: 30px
    a // #calendar #month a:hover {
      text-decoration: none
      padding: 0 10px
      color: #999
  table
    border-collapse: collapse
    width: 100%
    th, td
      font-family: "Lucida Grande",arial,helvetica,sans-serif
      font-size: 10px
      padding: 6px
      border: 1px solid #999
    th
      background: #DDD
      color: #666
      text-align: center
      width: 14.2857142857143%
    td
      background: #FFF
      color: #777
      height: 80px
      font-size: 16px
      &.notmonth
        color: #CCC
      &.today
        background-color: #D7F2FF

$label_margin: 5px
$label_width: 100px
$label_full_width: $label_width + $label_margin
$input_width: 300px
$textarea_height: 100px

@mixin input_base
  @include fancy-button(gray)
  width: $input_width
  cursor: text

form
  border: 1px solid black
  label
    float: left
    width: $label_width
    text-align: right
    margin: 8px $label_margin 0 0 
  textarea
    @include input_base
    height: $textarea_height
  input.string, input.integer
    @include input_base
  input.submit
    @include fancy-button(green)
    margin: 20px 0 0 $label_full_width
    float: left
  input.cancel
    @include fancy-button(#2966a8)
    margin-top: 20px
    float: left
