<% present current_user do |presenter| %>

<div id="chat" data-url=<%= messages_path(:js) %>>
  <%= presenter.noticements %>
  <%# render 'comments/comments', comments:comments, background:'#ddd', delete:false %>
</div>

<% end %>
